/********** T Y P O G R A P H Y **********/

body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
    color: #34495e; /* MD WET ASPHALT */
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 25px 0 20px;
    /* color: #444; */
    /* text-align: center; */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    /* color: #34495e; */
    /* text-align: center; */
}

h3,
label {
    font-size: 1.2em;
    font-weight: 500;
    /* color: #555; */
}

h4 {
    font-size: 14px;
    font-weight: 500;
    /* color: #34495e; */
}

label {
    vertical-align: middle;
}

textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #34495e;
    width: 100%;
    padding: 1em;
    border: 2px solid #34495e;
    height: 200%;
    min-height: 205px;
}


/********** BIOLOGY **********/

/* .side-nav .btn-circular {
    margin-left: -25px;
} */

.inner-wrapper {
/*     position: absolute;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); */
    padding: 0 20px;
    min-width: 960px;
}
.inner-inner-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
/* .inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    text-align: left;
} */

/* .side-nav {
    padding: 0 100px 0 0;
}

.side-nav button + button {
    margin-top: 25px;
} */

.btn {
    margin-bottom: 20px;
    height: 45px;
    border-radius: 7px;
    background-image: none;
    text-shadow: none;
    min-width: 150px;
}

.btn-base {
    background-color: #2c3e50;
    border: none;
}
.btn-base:hover {
    background-color: #34495e;
}

/* circular buttons */
.btn-circular {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    color: #fff;
    padding: 0;
}

.btn-circular.fa.fa-check.pull-right {
    margin-right: 0.5em;
}
.btn-circular.fa.fa-chevron-left.pull-left {
    margin-left: 0.5em;
}

/* this should be changed, depending on the final colour of the button (used in the new-notes sections), NOT SURE WE STILL USE THIS */
.selected {
    background: #F1C40F !important;
}

/* .heavy-text {
    font-weight: 900;
    background-color: #FCF9CA;
    border: 1px solid #FCF9CA;
    border-radius: 10px;
    padding: 4px;
} */

.icon {
    max-width: 50px;
    margin-right: 10px;
}

.fa-check {
    margin-bottom: 20px;
    background: #95A5A6;
    clear: both;
}



/*****************************************************/
/*****************************************************/
/******************** HOME SCREEN ********************/
/*****************************************************/
/*****************************************************/


#home-screen .inner-wrapper {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#home-screen h2 {
    text-align: left;
    display: inline-block;
    width: calc(170px + 30%);
    margin-bottom: 40px;
}
#home-screen .select-lesson-maria {
    width: 732.81px;
    text-align: center;
}
#home-screen h3 {
    display: inline-block;
    text-align: left;
}
#home-screen .home-progress-title {
    width: calc(18% - 50px);
}
#home-screen h3+img+h3 {
    vertical-align: top;
}
#home-screen .icon {
    margin-left: 50px;
}
.home-row-container {
    margin-bottom: 20px;
}
.home-btn {
    color: #fff;
    margin: 0 auto;
    font-size: 15px;
    /* height: 30px; */
    /* margin-bottom: 20px; */
    letter-spacing: 2px;
}
.home-btn:hover {
    color: #fff;
}
.home-row-container > h3 {
    line-height: 1.42857143;
    vertical-align: sub;
}
.lesson-title {
    font-size: 15px;
    margin-left: 20px;
    line-height: 1.42857143;
    vertical-align: sub;
    min-width: 30%;
}
.home-progress-container {
    margin-left: 50px;
}
.home-fa-star {
    font-size: 1.5em;
    color: #F2C42C;
    position: relative;
    top: 22px;
    left: -11%;
}
#home-screen input {
    margin-left: 20px;
    margin-right: 40px;
    /* transform: scale(1.5); */
}

.checkbox-blue {
  position: relative;
  top: -0.375rem;
  cursor: pointer;
}
.checkbox-blue:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: 2px solid #bdc3c7;
}
.checkbox-blue:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 1rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox-blue:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  background: #fff;
  cursor: pointer;
}



/*****************************************************/
/*****************************************************/
/***************** HOMEWORK SCREEN *******************/
/*****************************************************/
/*****************************************************/


#homework-progress-screen .inner-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#homework-progress-screen h1 {
    display: inline;
    font-weight: 500;
}
#homework-progress-screen h2 {
    text-align: left;
    display: inline-block;
    width: 120px;
    font-size: 20px;
    vertical-align: middle;
}
#homework-progress-screen .icon {
    margin-left: 50px;
    margin-top: -25px;
}
#homework-progress-container {
    margin-top: 40px;
}
.homework-progress-row-container {
    margin-left: 80px;
    margin-bottom: 20px;
}
.homework-progress-bar-container {
    margin-right: 160px;
    margin-left: 30px;
}



/*****************************************************/
/*****************************************************/
/***************** GROUPING SCREENS ******************/
/*****************************************************/
/*****************************************************/


#grouping-screen .inner-wrapper,
#grouping-jigsaw-screen .inner-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#grouping-screen h1,
#grouping-jigsaw-screen h1 {
    display: inline-block;
    font-weight: 500;
}
#grouping-screen h2,
#grouping-jigsaw-screen h2 {
    margin-top: 0px;
    font-weight: 500;
    color: #34495e;
}
#grouping-screen .fa-plus-square,
#grouping-jigsaw-screen .fa-plus-square {
    padding: 2px 4px !important;
    font-size: 30px;
    border-radius: 7px;
    margin-left: 15px;
}
#grouping-screen .fa-plus-square:hover,
#grouping-jigsaw-screen .fa-plus-square:hover {
    background-color: #ddd;
}
#grouping-screen .fa-minus-square,
#grouping-jigsaw-screen .fa-minus-square {
    padding: 2px 4px !important;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 93%;
    margin-top: -15%;               /* NB: this doesn't really do much - bit of a hack */
}
#grouping-screen .fa-minus-square:hover,
#grouping-jigsaw-screen .fa-minus-square:hover {
    background-color: #ddd;
}

#grouping-screen .students-container,
#grouping-jigsaw-screen .students-container {
    /* width: 100%; */
    border: 1px solid #34495e;
    margin: 20px;
    padding: 20px;
    min-height: 97px;
}
#grouping-screen .groups-container,
#grouping-jigsaw-screen .groups-container {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#grouping-screen .student-grouping-button,
#grouping-jigsaw-screen .student-grouping-button {
    background-color: #3498DB;
    color: white;
    font-size: 20px;
    margin: 5px;
}

#grouping-screen .group-container,
#grouping-jigsaw-screen .group-container {
    min-height: 85px;
    width: 220px;
    border: 1px solid #34495e;
    margin: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

#grouping-screen .assign-btn,
#grouping-jigsaw-screen .assign-btn {
    margin-right: 20px;
    font-size: 16px;
}
#grouping-screen .assign-btn:last-of-type,
#grouping-jigsaw-screen .assign-btn:last-of-type {
    margin-right: 0;
}
#grouping-screen .assign-btn:hover,
#grouping-jigsaw-screen .assign-btn:hover {
    background-color: #ddd;
}

/*****************************************************/
/*****************************************************/
/************** REVIEW PROGRESS SCREEN ***************/
/*****************************************************/
/*****************************************************/

#review-progress-screen {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#review-progress-screen h1 {
    font-weight: 500;
}
.review-progress-group-btn {
    /* width: 150px; */
    width: 100%;
    padding: 20px !important;
    color: #34495e;
    border-radius: 0;
    border: 1px solid #34495e;
}
.review-progress-progress-bar-container {
    margin-top: 25px;
    padding-bottom: 30px;
    display: inline-block;
    /* width: 220px; */
    /* border: 1px solid #333; */
    /* margin: 20px; */
}

#review-progress-screen svg {
    width: 100% !important;
}

#review-progress-container {
    /* width: 100%; for some reason this pushes it outside of border-box ??*/
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review-progress-group-container {
    margin-top: 60px;
    width: 220px;
    margin: 20px 30px;
    padding-bottom: 20px;
    display: inline-block;
}


/*****************************************************/
/*****************************************************/
/************** TEACHER REPORT SCREENS ***************/
/*****************************************************/
/*****************************************************/

#teacher-report-container {
    width: 100%;
    max-width: 775px;
    display: block;
    margin: 0 auto;
}

#teacher-report-screen h1 {
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

#teacher-report-screen h2,
#teacher-final-report-screen h2,
#final-report-display-screen h2 {
    display: inline-block;
    margin-bottom: 5px;
}
#teacher-report-screen .thumb,
#teacher-final-report-screen .thumb,
#final-report-display-screen .thumb {
    display: inline;
    margin-left: 20px;
    height: 25px;
}

#close-teacher-report-view-btn {
    margin-left: 13%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#close-teacher-report-view-btn:hover{
    background-color: #ddd;
}







/*****************************************************/
/*****************************************************/
/***************** STUDENT SCREENS *******************/
/*****************************************************/
/*****************************************************/

/*** progress bar ***/
.progress-bar-container {
    margin-bottom: 50px;
    margin-top: 25px;
}

.my-progress-percent,
.percent {
    font-size: 1.3em;
    position: relative;
    left: 57.5%;
}

.camera-icon-label {
    width: 120px;
    background-color: #ecf0f1;
    padding: 25px;
}

#definition-screen .inner-wrapper,
#relationship-screen .inner-wrapper,
#vetting-screen .inner-wrapper {
    margin-top: 60px;
}

#definition-screen .inner-wrapper,
#relationship-screen .inner-wrapper {
/*     height: 85%;
    overflow-y: scroll;
    margin-top: 5px; */
}

#definition-screen h1,
#definition-screen h2 {
    /* text-align: left; */
}

#definition-title-input,
#relationship-title-input {
    height: 45px;
    padding-top: 10px !important;
    margin-bottom: 10px;
}

#definition-body-container,
#relationship-body-container {
/*     position: relative;
    height: 160px; */
    margin-bottom: 2%;
}

#definition-body-input {
    padding-top: 15px !important;
    min-height: 320px;
    padding-right: 60px;
}

#relationship-body-input {
    padding-top: 15px !important;
    min-height: 120px;
    padding-right: 60px;
}

#definition-screen button.close,
#relationship-screen button.close {
    border: none;
}

.photo-wrapper,
#definition-btn-container,
#definition-media-container,
#vetting-media-container {
    /* margin-top: 5px; */
    float: left;
    /* margin-right: 25px; */
    /* display: inline-block; */
}
#definition-photo-file {
    width: 100%;
    max-width: 200px;
}

#definition-screen .media-container,
#vetting-screen .media-container {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;          /* REDO ME - this is ugly, look at img-responsive class */
    /* margin: 5px 2.5px 0px 2.5px; */
    margin-right: 25px;
    margin-bottom: 25px;
}
#definition-screen .media,
#vetting-screen .media {
    width: 120px;
    height: 120px;          /* REDO ME - this is ugly, look at img-responsive class */
}
#definition-screen .remove-btn,
#vetting-screen .remove-btn {
    position: absolute;
    top: 2%;
    right: 5%;
    color: red;
    z-index: 999;
}

#definition-btn-container .fa-spinner,
#vetting-btn-container .fa-spinner {
    font-size: 7em;
    z-index: 999;
    color: #006699;
    background: #fff;
}

/* TODO: THIS NEEDS A LOT OF WORK ACROSS VARIOUS DEVICES */
#definition-photo-modal .photo-content,
#vetting-photo-modal .photo-content,
#teacher-report-modal .photo-content,
#teacher-final-report-modal .photo-content,
#final-report-display-modal .photo-content {
    max-width: 100%;
}
#definition-photo-modal .download-photo-btn,
#vetting-photo-modal .download-photo-btn {
    background: white;
    border-radius: 4px;
}
#teacher-report-modal .close,
#teacher-final-report-modal .close,
#final-report-display-modal .close, {
    margin-top: -20px;
}

/** relationship screen only **/
#relationship-container {
    text-align: center;
    padding: 100px 0;
}
#relationship-screen h1 {
    display: inline-block;
    background-color: #F4F4F4;
    padding: 10px 20px;
    font-size: 2em;
}
#relationship-link-container {
    display: inline-block;
    margin: 0 20px;
    line-height: 2.5em;
    vertical-align: text-bottom;
}

#relationship-screen .incorrect-counter {
    float: right;
    margin-top: 70px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 45px;
}


/** vetting screen only **/
.radio {
    margin-left: 25px;
}
.radio + .radio {
    margin-bottom: 25px;
}
#vetting-explanation-input {
    opacity: 0.7;                       /* we make it uneditable in the html with attr of readonly */
}
#vetting-addon-container {
    margin-bottom: 20px;
}
#vetting-btn-container {
    display: inline-block;
}
.vetting-fa-star {
    font-size: 1.5em;
    color: #F2C42C;
    position: relative;
    /* top: -13px; */
    left: 66%;
}


/*****************************************************/
/*****************************************************/
/************* STUDENT REVIEW SCREENS ****************/
/*****************************************************/
/*****************************************************/

/** CHOOSE ARTICLE SCREEN **/
#choose-article-screen .inner-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}

#choose-article-screen h2 {
    margin-bottom: 50px;
    /* font-size: 1.5em = 21px current */
}

.article-column-container {
    float: left;
    width: 25%;
    padding-bottom: 20px;
    /* margin-right: 40px; */
}

#choose-article-container img {
    height: 200px;
    width: 200px;
    cursor: pointer;
}


/** ATTACH TERMS SCREEN **/
#attach-terms-screen .inner-wrapper {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto;
}

#attach-terms-title-container {
    margin-top: 100px;
}

#attach-terms-pdf-container {
    margin-bottom: 25px;
    float: left;
    width: 50%;
}

#attach-terms-pdf-content {
    /* width: 497px; */
    width: 100%;
    /* margin-right: 5%; */
    height: 350px;
    border: 1px solid #34495e;
}

#attach-terms-explanation-pane {
    margin-left: 2.5%;
    float: left;
    /* width: 497px; */
    /* width: 650px; */
    width: 25%;
    height: 350px;
    border: 1px solid #34495e;
    padding: 15px;
    overflow-y: scroll;
}

#attach-terms-selected-container {
    margin-left: 2.5%;
    float: left;
    width: 20%;
    height: 350px;
    line-height: 2.2em;
    overflow-y: scroll;
}

#attach-terms-selected-container .terms-container div {
    font-size: 1.1em;
    font-weight: bold;
    color: #7F8C8D;
}

#attach-terms-terms-container {
    clear: both;
}

#attach-terms-terms-container .btn-group {
    margin-right: 25px;
}


/** EXPLAIN TERMS SCREEN **/
#explain-terms-img-container {
    display: inline-block;
    margin-right: 5%;
    width: 35%;
}

#explain-terms-img-container img {
    /* width: 300px; */
    height: 500px;
    border: 1px solid #7F8C8D;
}

#explain-terms-terms-container {
    /* display: inline-block; */
    float: right;
    width: 60%;
    padding-top: 25px;
}

#explain-terms-screen .explain-term-uncomplete-btn {
    background-color: #F1C40F;
    margin-right: 5%;
    margin-bottom: 50px;
}
#explain-terms-screen .explain-term-complete-btn {
    background-color: #34495E;
    margin-right: 5%;
    margin-bottom: 50px;
}


/** EXPLAIN DETAILS SCREEN **/
#explain-details-term-container {
    width: 47%;
    float: left;
}

#explain-details-content-container {
    width: 47%;
    float: right;
}

/* copied from smartboard.css */
#explain-details-screen .title,
#explain-details-content-title,
#attach-terms-explanation-pane .title,
#final-report-terms-explanation-pane .title, {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}
#explain-details-screen .author,
#attach-terms-explanation-pane .author,
#final-report-terms-explanation-pane .author,
#explain-details-screen .vetting-author,
#attach-terms-explanation-pane .vetting-author,
#final-report-terms-explanation-pane .vetting-author,
#explain-details-screen .comments-author,
#attach-terms-explanation-pane .comments-author,
#final-report-terms-explanation-pane .comments-author {
  display: block;
  font-weight: 700;
  font-size: 1.1em;
  margin: 5px 0 0;
}
#explain-details-screen .relationship,
#attach-terms-explanation-pane .relationship,
#final-report-terms-explanation-pane .relationship {
  display: block;
  font-style: italic;
  margin: 0px 20px 20px 0px;
  padding: 10px;
  background: #ecf0f1; /* MD CLOUDS */
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #34495e;;
}
#explain-details-screen .relationship > div,
#attach-terms-explanation-pane .relationship > div,
#final-report-terms-explanation-pane .relationship > div {
  margin-bottom: 5px;
}
#explain-details-screen .author,
#attach-terms-explanation-pane .author,
#final-report-terms-explanation-pane .author {
  color: #8e44ad; /* MD WISTERIA */
}
#explain-details-screen .body,
#attach-terms-explanation-pane .body,
#final-report-terms-explanation-pane .body {
  display: block;
  margin-bottom: 10px;
  color: #7F8C8D; /* MD ASBESTOS */
  /*height: 250px;*/
}
#explain-details-screen .vetting-author,
#attach-terms-explanation-pane .vetting-author,
#final-report-terms-explanation-pane .vetting-author {
  color: #1abc9c; /* MD TURQUOISE */
}
#explain-details-screen .vetting-content,
#attach-terms-explanation-pane .vetting-content,
#final-report-terms-explanation-pane .vetting-content {
  display: block;
  margin-bottom: 15px;
  color: #7F8C8D; /* MD ASBESTOS */
}
#explain-details-screen .media-container,
#attach-terms-explanation-pane .media-container,
#final-report-terms-explanation-pane .media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
  overflow: hidden;
  margin-top: 20px;
}
#explain-details-screen .media,
#attach-terms-explanation-pane .media,
#final-report-terms-explanation-pane .media {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  width: 100%;
  max-width: 180px;
  margin-top: 0;
}
#explain-details-screen .media img,
#attach-terms-explanation-pane .media img,
#final-report-terms-explanation-pane .media img {
  padding-bottom: 25px;
}
#explain-details-screen .comments-author,
#attach-terms-explanation-pane .comments-author,
#final-report-terms-explanation-pane .comments-author {
  color: #E74C3C; /* MD ALIZARIN */
}
#explain-details-screen .comments-content,
#attach-terms-explanation-pane .comments-content,
#final-report-terms-explanation-pane .comments-content {
  display: block;
  margin-bottom: 5px;
  color: #7F8C8D; /* MD ASBESTOS */
}
#explain-details-screen .explanation {
    margin-bottom: 20px;
}





/****** GROUP NEGOTIATE SCREEN ********/
#group-negotiate-terms-screen select {
    margin-bottom: 50px;
    display: block;
}
#group-negotiate-terms-img-container {
    display: inline-block;
    margin-right: 5%;
    max-width: 40%;
}
#group-negotiate-terms-img-container img {
    /* width: 300px; */
    height: 500px;
    border: 1px solid #7F8C8D;
}
#group-negotiate-terms-terms-container {
    /* display: inline-block; */
    float: right;
    max-width: 60%;
    padding-top: 25px;
}
.group-negotiate-term-btn {
    margin-right: 5%;
    margin-bottom: 50px;
}

#group-negotiate-terms-screen .fa-plus {
    height: 50px;
    width: 50px;
    background-color: #34495E;
    /* margin-top: 75px; */
    /* margin-right: -10px; */
    padding: 0 !important;
}

#group-negotiate-details-screen .fa-minus {
    height: 30px;
    width: 30px;
    background-color: #E74C3C;
    margin-top: 75px;
    margin-right: -10px;
    padding: 0 !important;
}

#group-negotiate-details-entry-container > h3,
#group-negotiate-details-terms-container > h3 {
    margin-bottom: 20px;
}

#group-negotiate-details-terms-container .term-details {
    width: 48%;
    /* height: 150px; some are longer than this?? */
    background: #ECF0F1;
    margin-bottom: 20px;
    padding: 15px;
}

#confirm-add-term-modal,
#confirm-remove-term-modal {
    margin-top: 100px;
}
#confirm-add-term-modal .modal-content,
#confirm-remove-term-modal .modal-content {
    padding: 12px 20px 20px;
}
#confirm-add-term-modal .modal-header,
#confirm-remove-term-modal .modal-header {
    padding: 5px;
}
#confirm-add-term-modal button,
#confirm-remove-term-modal button {
    background-color: #34495E;
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    /* width: 80px; */
}




/*****************************************************/
/*****************************************************/
/****************** REPORT SCREENS *******************/
/*****************************************************/
/*****************************************************/


#report-screen img {
    width: 100%;
}
#report-screen li {
    margin-left: 40px;
    margin-top: 5px;
}
#report-screen button {
    font-size: 11px;
    padding: 6px;
    border-radius: 6px; /* why is this one 6px??? */
    background: #34495E;
}
#report-screen .modal {
    margin-top: 20px;
    font-size: 10px;
}

#pdf-modal-btn {
    float: right;
    font-size: 2.8em;
    margin-top: 7px;
}
#report-pdf-content {
    width: 100%;
}

/* absolute positioning, bottom/right, etc are temporary? They overwrite the bootstrap pull-right etc */
#report-step-forward-btn,
#report-step-back-btn,
#final-report-step-forward-btn {
    margin-bottom: 20px;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    width: 75px;
    height: 75px;
    border-radius: 50% !important;
    border: none;
    color: #fff;
    padding: 0 !important;
    font-size: 3em !important;
}
#report-screen .fa-chevron-left:before {
    margin-left: -0.2em;
}
#report-step-forward-btn {
    right: 0;
}
#report-step-back-btn {
    left: 0;
}

#report-screen #attach-terms-pdf-content {
    width: 75%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    height: 640px;
}

#report-content-container img,
#final-report-content-container img {
    margin-bottom: 25px;
}
#report-content-container textarea,
#final-report-content-container textarea {
    margin-bottom: 20px;
}
#report-content-container ul,
#final-report-content-container ul {
    margin-bottom: 15px;
}
#report-content-container li,
#final-report-content-container li {
    /* line-height: 2em; */
    margin: 8px;
}

#view-sequence-modal ul {
    text-align: right;
    padding-right: 50px;
    font-family: monospace;
    font-size: 1.1em;
}

#report-screen .unit3-view-sequence-btn,
#final-report-screen .unit3-view-sequence-btn {
    font-size: 14px;
    margin-left: 15px;
    background-color: #34495E;
}
#report-screen .unit3-view-sequence-btn:hover,
#final-report-screen .unit3-view-sequence-btn:hover {
    background-color: #517394;
}
#report-screen .modal-header .close {
    font-size: 16px;
    margin-top: -15px;
    color: #ffffff;
}
#report-screen .unit3-check-answer {
    font-size: 14px;
    margin-bottom: 20px;
}
.unit3-correct1,
.unit3-correct2,
.unit3-correct3 {
    margin-left: 20px;
}


/*** FINAL REPORT ***/
#final-report-terms-terms-container {
    width: 55%;
    float: left;
}
#final-report-terms-terms-container h2 {
    line-height: 1.3em;
}
#final-report-terms-terms-container .btn-group {
    margin-right: 25px;
}

#final-report-terms-explanation-pane {
    margin: 25px 0 25px 2.5%;
    float: left;
    width: 25%;
    height: 350px;
    border: 1px solid #34495e;
    padding: 15px;
    overflow-y: scroll;
}
#final-report-terms-selected-container {
    margin: 25px 0 25px 2.5%;
    float: left;
    width: 15%;
    height: 350px;
    line-height: 2.2em;
    overflow-y: scroll;
}
#final-report-terms-selected-container .terms-container div {
    font-size: 1.1em;
    font-weight: bold;
    color: #7F8C8D;
}
#final-report-screen h1 {
    font-weight: 500;
}



/********** GLOBAL **********/

body, html {
    height: calc(100% - 50px);
    /* height: 100%; */
    /*background-color: #3092ae;*/
}

a,
a:hover,
button,
button:hover,
.btn,
.btn:hover,
i,
i:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
    /*background-color: #BDBDC1;*/
    opacity: 0.7;
}

.uneditable {
/*    pointer-events: none;
    cursor: default;*/
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: #DBDBDB;
    opacity: 0.7;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/*so the scroll bar appears at all times*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/********** MODALS **********/
/*for vertical centering; had to add .table & .table-cell divs to html*/
.table {
    display: table;
    height: 100%;
    margin-bottom: 0;
    background-color: #2c3e50;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    border-radius: 7px;
    padding: 5px 20px 20px;
    border: none;
}
.modal-header {
    border-bottom: 2px solid #ededed;
}
/* WARNING: WEAK NAME SPACING HERE */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar {
    font-size: 3em;
    /* margin-left: 20%; */
    margin-bottom: 28px;
    margin-top: 60px;
    text-align: center;
}
.ui-dialog-content {
    font-size: 1.5em;
    /* margin-left: 24%; */
    text-align: center;
}
.ui-dialog-buttonset {
    /* margin-left: 35%; */
    margin-top: 90px;
    text-align: center;
}
.ui-dialog-buttonset button {
    margin-right: 80px;
    height: 45px;
    border-radius: 7px;
    background-image: none;
    text-shadow: none;
    min-width: 150px;
    background: #2c3e50;
    border: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
}
.ui-button + .ui-button {
    margin-right: 0;
}


/********** NAVBAR **********/

.navbar {
    min-height: 60px;
    background: linear-gradient(to bottom, #1a7194 0%,#176686 100%) !important;
    background-image: none;
    border: none;
    padding-top: 5px;
    z-index: 1000000; /* so that it displays above kb terms */
}

.navbar-brand {
    text-indent: -9999px;
    width: 200px;
    background-image: url(../img/CKBiology_logo.png);
    background-repeat: no-repeat;
    -webkit-background-size: 95%;
    background-size: 95%;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

#home-nav-btn > a {
    font-size: 1.1em;
}

.username-display a {
    max-height: 35px;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
    display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
    display: inline-block;
}

/* If pattern (regex) is violated submit button is hidden */
input[pattern]:invalid ~ button {
    display: none;
}

input:disabled {
    display: none;
}

.login-button {
    margin: 1%;
    min-width: 7.3em;
    border: 1px solid #ededed;
}
.login-button:hover {
    border: 1px solid #ededed;
}

.input-alert {
    margin-top: 2%;
}

#report-bug-modal {
    margin-top: 100px;
}


/********** MEDIA QUERIES **********/

/* Extra small devices (phones, less than 768px) */
@media all and (max-width: 767px) {

/*     .side-nav .btn-circular {
        margin-left: 15px !important;
    } */
}

/*Small devices PORTRAIT (tablets, more than 768px tall)*/
@media all and (min-height: 768px) and (orientation: portrait) {


}

/* Medium Devices (DESKTOPS, 992px and up) */
@media all and (min-width : 992px) {
    .inner-wrapper {
    /*     position: absolute;
        top: 40%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); */
        padding: 0 40px;
    }
    .home-fa-star {
        left: -12%;
    }
    .vetting-fa-star {
        left: 67%;
    }
}


/* Large devices (LARGE DESKTOPS, 1200px and up) */
@media all and (min-width: 1200px) {
/*     .side-nav {
        padding: 0 200px 0 0;
    } */

    body, html {
        /* height: calc(100% - 50px); */
        /* height: 100%; */
        /*background-color: #3092ae;*/
    }

    #home-screen .inner-wrapper,
    #homework-progress-screen .inner-wrapper {
        top: 10%;
    }

    #definition-screen .inner-wrapper,
    #relationship-screen .inner-wrapper,
    #vetting-screen .inner-wrapper,
    #explain-terms-screen .inner-wrapper,
    #explain-details-screen .inner-wrapper,
    #group-negotiate-terms-screen .inner-wrapper,
    #group-negotiate-details-screen .inner-wrapper,
    #report-screen .inner-wrapper,
    #final-report-screen .inner-wrapper,
    #final-report-display-screen .inner-wrapper,
    #teacher-report-screen .inner-wrapper,
    #teacher-final-report-screen .inner-wrapper {
        margin-top: 100px;
        margin-left: calc((100% - 1120px)/2);
    }

    .inner-wrapper {
        max-width: 1120px;
        /* text-align: center; */
/*         position: absolute;
        top: 40%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%); */
    }

    .definition-container {
        /* padding-bottom: 25%; */ /* = width for a 1:1 aspect ratio */
    }

    #home-screen h3+img+h3,
    #homework-progress-screen h3+img+h3 {
        /* vertical-align: baseline; */
    }
    .lesson-title {
        font-size: 1.2em;
        /* min-width: 25%; */
    }
    .home-fa-star {
        left: -12%;
    }
    #relationship-container {
        min-height: 350px;
    }
}





















/* Blue and green version - Renato */

nav .active > a {
    background-image: none !important;
    background-color: transparent !important;
    height: 34px;
    top: 7px;
    padding-top: 7px !important;
    margin: 1px 7px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: #a7e0f7  !important;
}
.top-navigation > .active > a {
    background-image: none !important;
    background-color: #0a475f  !important;
    height: 34px;
    border-radius: 30px;
    top: 7px;
    padding-top: 7px !important;
    margin: 1px 7px !important;
}
.top-navigation > .active > a:hover {
    background-color: #07384c !important;
}

.top-nav-btn > a {
    color: #fff !important;
}
.container {
    width: auto;
    padding-left: 35px;
}
