/*csslint gradients: false, font-sizes: false */
/* TODO: This needed here? We also pull the CSS in HTML. Maybe remove it in the HTML */
@import url(///fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700);

body {
  font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
  color: #34495e; /* MD WET ASPHALT */
}

#wall {
  position: absolute;
  /*overflow: hidden;*/
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  -webkit-transition: background-color 3s ease 0;
  -moz-transition: background-color 3s ease 0;
  transition: background-color 3s ease 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* We need to revisit this */
  width: 1430px;
  height: 740px;
}

button {
  display: inline-block;
  border: none;
  padding: 4px 10px;
  background-color: #c31fa4;
  color: #fff;
  /* font-weight: bold; */
  padding: 10px;
  border-radius: 1em;
  font-size: 20px;
  -webkit-transition: opacity 1s ease 0;
  -moz-transition: opacity 1s ease 0;
  transition: opacity 1s ease 0;
}
button:hover {
  cursor: pointer;
}

/*** ANIMATIONS ***/
@-webkit-keyframes pulseGrow {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulseGrow {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulseFade {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes pulseFade {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes teleportIn {
  0% {
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.0;
  }

  70% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes teleportIn {
  0% {
    transform: scale(0.3);
    opacity: 0.0;
  }

  70% {
    transform: scale(2);
    opacity: 1.0;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes glow {
  0% {
    box-shadow: #ff4 0 0 10px 1px;
  }

  50% {
    box-shadow: #ff4 0 0 0 1px;
  }

  100% {
    box-shadow: #ff4 0 0 10px 1px;
  }
}

@keyframes glow {
  0% {
    box-shadow: #ff4 0 0 10px 1px;
  }

  50% {
    box-shadow: #ff4 0 0 0 1px;
  }

  100% {
    box-shadow: #ff4 0 0 10px 1px;
  }
}

.content.balloon {
  position: absolute;
  width: 120px;
  min-height: 30px;
  /*height: 60px;*/
  display: inline-block;
  /*padding: 0 5px;*/
  text-align: center;
  background: #3498DB;
  color: white;
  overflow: hidden;
  -webkit-transition: height 1s ease 0;
  -moz-transition: height 1s ease 0;
  transition: height 1s ease 0;
  /*max-height: 95%;*/
  border-radius: 10px;
  font-size: 11px;
}
.content.balloon .conflict-indicator {
    background: #E74C3C;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.content.balloon.opened .conflict-indicator {
  display: none;
}
.content.balloon .title {
  margin: 12px;
  font-weight: 400;
}
.content.balloon .author, .content.balloon .body, .content.balloon .vetting-author, .content.balloon .vetting-content, .content.balloon .relationship, .content.balloon .comments-author, .content.balloon .comments-content, .content.balloon .comment-container {
  display: none;
  margin-top: 0;
  padding-top: 0;
  padding-left: 14px;
  padding-right: 14px;
}
.content.balloon .close-term-btn, .content.balloon .media-container, .content.balloon .media.content, .balloon .open-comment-btn {
  display: none;
}

.content.balloon.opened {
  width: 600px;
  /*height: 525px;*/
  max-height: 500px;
  background-color: white;
  overflow-y: scroll;
  color: #34495e; /* MD WET ASPHALT */
  border: 1px solid #bdc3c7; /* MD SILVER */
  text-align: left;
  font-size: 1em;
  border-radius: 0;
  padding: 10px;
  /* cheap fix for the issue of terms sometimes jumping in front - this should all not be necessary once we remove dragging */
  z-index: 9999 !important;
}
.content.balloon.opened .close-term-btn {
  display: block;
  float: right;
  margin-bottom: 5px;
  margin-right: -3px;
  color: #34495e;
  background: transparent;
  font-size: 1.8em;
}
.content.balloon.opened .title {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 15px;
}
.content.balloon.opened .author,
.content.balloon.opened .vetting-author,
.content.balloon.opened .comments-author {
  display: block;
  font-weight: 700;
  font-size: 1.1em;
  margin: 5px 0 0;
}
.content.balloon.opened .relationship {
  display: block;
  font-style: italic;
  margin: 20px 10px 20px 15px;
  padding: 10px;
  background: #ecf0f1; /* MD CLOUDS */
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #34495e;;
}
.content.balloon.opened .relationship > div {
  margin-bottom: 5px;
}
.content.balloon.opened .author {
  color: #8e44ad; /* MD WISTERIA */
}
.content.balloon.opened .body {
  display: block;
  margin-bottom: 10px;
  color: #7F8C8D; /* MD ASBESTOS */
  /*height: 250px;*/
}
.content.balloon.opened .vetting-author {
  color: #1abc9c; /* MD TURQUOISE */
}
.content.balloon.opened .vetting-content {
  display: block;
  margin-bottom: 15px;
  color: #7F8C8D; /* MD ASBESTOS */
}
.content.balloon.opened .media-container {
  display: block;
  margin-left: 10px;
  overflow: hidden;
}
.content.balloon.opened .media {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  width: 100%;
  max-width: 180px;
}
.content.balloon.opened .comments-author {
  color: #E74C3C; /* MD ALIZARIN */
}
.content.balloon.opened .comments-content {
  display: block;
  margin-bottom: 5px;
  color: #7F8C8D; /* MD ASBESTOS */
}
.content.balloon.opened .open-comment-btn {
  display: block;
  float: right;
  margin-bottom: 5px;
  margin-right: -3px;
  color: #34495e;
  background: transparent;
  font-size: 1.8em;
}
.content.balloon.opened .comment-container.opened {
  display: block;
}
.content.balloon.opened .comment-submit-btn, .content.balloon.opened .comment-cancel-btn {
  float: right;
  margin-left: 10px;
  background: #34495E;
  padding: 0 12px;
  border-radius: 0.6em
  font-size: 18px;
}

.content.balloon.blurred {
  opacity: 0.2;
}
.balloon {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  -webkit-transition: height 0.5s, box-shadow 0.25s, opacity 1s;
  -moz-transition: height 0.5s, box-shadow 0.25s, opacity 1s;
  transition: height 0.5s, box-shadow 0.25s, opacity 1s;
}
.balloon:hover {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.balloon.unpublished {
  pointer-events: none;
  cursor: default;
  background-color: #BDBDC1;
}
.balloon.ui-draggable-dragging {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  box-shadow: #1abc9c 0 0 7px 7px;  /* MD turquoise */
  box-shadow: #9b59b6 0 0 7px 7px;  /* MD amethyst */
}
.balloon.blurred {
  opacity: 0.15;
}