/*****************************************************/
/*****************************************************/
/***************** HOMEWORK SCREEN *******************/
/*****************************************************/
/*****************************************************/


#homework-progress-screen .inner-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#homework-progress-screen h1 {
    display: inline;
    font-weight: 500;
}
#homework-progress-screen h2 {
    text-align: left;
    display: inline-block;
    width: 120px;
    font-size: 20px;
    /* vertical-align: middle; */
}
#homework-progress-screen .icon {
    margin-left: 50px;
    margin-top: -25px;
}
#homework-progress-container {
    text-align: left;
    width: 100%;
    max-width: 840px;
    margin: 40px auto 0;
    font-size: 16px;
}
.homework-progress-row-container {
    margin-left: 80px;
    margin-bottom: 20px;
}
.homework-progress-bar-container {
    margin-right: 160px;
    margin-left: 30px;
}
/* should this be here or down under REVIEW PROGRESS SCREEN??  */
.review-progress-row-container {
    width: 50%;
    float: left;
}
.review-progress-row-container .review-completed {
    width: calc(100% - 120px);
}


/*****************************************************/
/*****************************************************/
/***************** GROUPING SCREENS ******************/
/*****************************************************/
/*****************************************************/


#grouping-screen .inner-wrapper,
#grouping-jigsaw-screen .inner-wrapper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#grouping-screen h1,
#grouping-jigsaw-screen h1 {
    display: inline-block;
    font-weight: 500;
}
#grouping-screen h2,
#grouping-jigsaw-screen h2 {
    margin-top: 0px;
    font-weight: 500;
    color: #34495e;
}
#grouping-screen .btn,
#grouping-jigsaw-screen .btn,
#grouping-screen .fa,
#grouping-jigsaw-screen .fa {
    background: #777777;                 /* this needed to be darker for smartboard screens */
}
#grouping-screen .fa-plus-square,
#grouping-jigsaw-screen .fa-plus-square {
    padding: 2px 4px !important;
    font-size: 30px;
    border-radius: 7px;
    margin-left: 15px;
}
#grouping-screen .fa-plus-square:hover,
#grouping-jigsaw-screen .fa-plus-square:hover {
    background-color: #ddd;
}
#grouping-screen .fa-minus-square,
#grouping-jigsaw-screen .fa-minus-square {
    padding: 2px 4px !important;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 93%;
    margin-top: -15%;               /* NB: this doesn't really do much - bit of a hack */
}
#grouping-screen .fa-minus-square:hover,
#grouping-jigsaw-screen .fa-minus-square:hover {
    background-color: #ddd;
}

#grouping-screen .students-container,
#grouping-jigsaw-screen .students-container {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #777777;
    margin: 20px auto;
    padding: 20px;
    min-height: 97px;
}
#grouping-screen .groups-container,
#grouping-jigsaw-screen .groups-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#grouping-screen .student-grouping-button,
#grouping-jigsaw-screen .student-grouping-button {
    background-color: #3498DB;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding-top: 4px !important;
}
#grouping-screen .students-container .student-grouping-button {
    /* padding-top: 9px !important; */
}

#grouping-screen .group-container,
#grouping-jigsaw-screen .group-container {
    min-height: 360px;
    width: 220px;
    border: 1px solid #777777;
    margin: 20px 10px;
    padding-bottom: 20px;
    /* display: inline-block; */
}

#grouping-screen .assign-btn,
#grouping-jigsaw-screen .assign-btn {
    margin-right: 20px;
    font-size: 20px;
    padding-top: 8px !important;
}
#grouping-screen .assign-btn:last-of-type,
#grouping-jigsaw-screen .assign-btn:last-of-type {
    margin-right: 0;
}
#grouping-screen .assign-btn:hover,
#grouping-jigsaw-screen .assign-btn:hover {
    background-color: #ddd;
}

/*****************************************************/
/*****************************************************/
/************** REVIEW PROGRESS SCREEN ***************/
/*****************************************************/
/*****************************************************/

#review-progress-screen,
#final-review-progress-screen {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    margin-bottom: 40px;
}
#review-progress-screen h1,
#final-review-progress-screen h1 {
    font-weight: 500;
}
.review-progress-group-btn {
    /* width: 150px; */
    width: 100%;
    padding: 20px !important;
    color: #34495e;
    border-radius: 0;
    border: 1px solid #34495e;
}

#final-review-progress-screen .review-progress-group-btn {
    background: white;
}
#final-review-progress-screen .review-progress-group-btn img {
    width: 50px;
    margin-right: 20px;
}

.review-progress-progress-bar-container {
    margin-top: 25px;
    padding-bottom: 30px;
    display: inline-block;
    /* width: 220px; */
    /* border: 1px solid #333; */
    /* margin: 20px; */
}

#review-progress-screen svg,
#final-review-progress-screen svg {
    width: 100% !important;
}

#review-progress-container,
#final-review-progress-container {
    /* width: 100%; for some reason this pushes it outside of border-box ??*/
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review-progress-group-container {
    margin-top: 60px;
    width: 220px;
    margin: 20px 30px;
    padding-bottom: 20px;
    display: inline-block;
}

.review-completed {
    color: #2ECC71;
}
.review-in-progress {
    color: #F1C40F;
}


/*****************************************************/
/*****************************************************/
/************** TEACHER REPORT SCREENS ***************/
/*****************************************************/
/*****************************************************/

#teacher-report-container,
#teacher-final-report-container {
    width: 100%;
    max-width: 775px;
    display: block;
    margin: 0 auto;
}

#teacher-report-screen h1,
#teacher-final-report-screen h1 {
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

#teacher-report-screen h2,
#teacher-final-report-screen h2,
#final-report-display-screen h2 {
    display: inline-block;
    margin-bottom: 5px;
}
#close-teacher-report-view-btn,
#close-teacher-final-report-view-btn {
    background: #777777;                 /* this needed to be darker for smartboard screens */
}
#teacher-report-screen .thumb,
#teacher-final-report-screen .thumb,
#final-report-display-screen .thumb {
    display: inline;
    margin-left: 20px;
    height: 25px;
}

#close-teacher-report-view-btn,
#close-teacher-final-report-view-btn {
    margin-left: 13%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#close-teacher-report-view-btn:hover,
#close-teacher-final-report-view-btn:hover {
    background-color: #ddd;
}

/* cheap fix cause I'm tired of changing the clinic-report */
#teacher-final-report-container p {
    font-weight: bold;
}
#teacher-final-report-container .clinic-answer {
    font-weight: normal;
}



/* Large devices (LARGE DESKTOPS, 1200px and up) */
@media all and (min-width: 1200px) {
    #grouping-screen .inner-wrapper {
        max-width: 100%;
    }
}