/********** T Y P O G R A P H Y **********/

body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif;
    color: #34495e; /* MD wet ashphalt */
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 25px 0 20px;
    /* color: #444; */
    /* text-align: center; */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    /* color: #34495e; */
    /* text-align: center; */
}

h3,
label {
    font-size: 1.2em;
    font-weight: 500;
    /* color: #555; */
}

h4 {
    font-size: 14px;
    font-weight: 500;
    /* color: #34495e; */
}

label {
    vertical-align: middle;
}

textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #34495e;
    width: 100%;
    padding: 1em;
    border: 2px solid #34495e;
    height: 200%;
    min-height: 205px;
}


/********** BIOLOGY **********/

/* .side-nav .btn-circular {
    margin-left: -25px;
} */

.inner-wrapper {
/*     position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); */
    padding: 0 40px;
    min-width: 997px;
}
.inner-inner-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
/* .inner-wrapper h1,
.inner-wrapper h2,
.inner-wrapper h3 {
    text-align: left;
} */

/* .side-nav {
    padding: 0 100px 0 0;
}

.side-nav button + button {
    margin-top: 25px;
} */

.btn {
    margin-bottom: 20px;
    height: 45px;
    border-radius: 7px;
    background-image: none;
    text-shadow: none;
    min-width: 150px;
}

.btn-base {
    background: #2c3e50;
    border: none;
}

/* circular buttons */
.btn-circular {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    color: #fff;
    padding: 0;
}

/* this should be changed, depending on the final colour of the button (used in the new-notes sections), NOT SURE WE STILL USE THIS */
.selected {
    background: #fecc81 !important;
}

/* .heavy-text {
    font-weight: 900;
    background-color: #FCF9CA;
    border: 1px solid #FCF9CA;
    border-radius: 10px;
    padding: 4px;
} */

.icon {
    max-width: 50px;
    margin-right: 10px;
}

.fa-check {
    margin-bottom: 20px;
    background: #95A5A6;
}

/*****************************************************/
/*****************************************************/
/******************** HOME SCREEN ********************/
/*****************************************************/
/*****************************************************/


#home-screen .inner-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
}
#home-screen h2 {
    text-align: left;
    display: inline-block;
    width: calc(170px + 30%);
    margin-bottom: 40px;
}
#home-screen h3 {
    display: inline-block;
    text-align: left;
}
#home-screen .home-progress-title {
    width: calc(18% - 50px);
}
#home-screen h3+img+h3 {
    vertical-align: top;
}
#home-screen .icon {
    margin-left: 50px;
}
.home-row-container {
    margin-bottom: 20px;
}
.home-btn {
    color: #fff;
    margin: 0 auto;
    font-size: 15px;
    /* height: 30px; */
    /* margin-bottom: 20px; */
    letter-spacing: 2px;
}
.home-btn:hover {
    color: #fff;
}
.lesson-title {
    font-size: 15px;
    margin-left: 20px;
    line-height: 1.42857143;
    vertical-align: sub;
    min-width: 30%;
}
.home-progress-container {
    /* width: 400px; ??*/
    margin-left: 50px;
}
.fa-star {
    font-size: 1.5em;
    color: #F2C42C;
    position: relative;
    top: 22px;
    left: -11%;
    /* margin-left: 5px; */
}


/*****************************************************/
/*****************************************************/
/******************* WRITE SCREENS *******************/
/*****************************************************/
/*****************************************************/

/* don't think this exists in HTML anywhere */
.fa-arrow-left {
    padding-right: 4px;
}

/*** progress bar ***/
.progress-bar-container {
    margin-bottom: 50px;
    margin-top: 25px;
}
.my-progress-percent,
.percent {
    font-size: 1.3em;
    position: relative;
    left: 55%;
}

.camera-icon-label {
    width: 120px;
    background-color: #ecf0f1;
    padding: 25px;
}

#definition-screen .inner-wrapper,
#relationship-screen .inner-wrapper,
#vetting-screen .inner-wrapper {
    margin-top: 60px;
}

#definition-screen .inner-wrapper,
#relationship-screen .inner-wrapper {
/*     height: 85%;
    overflow-y: scroll;
    margin-top: 5px; */
}

#definition-screen h1,
#definition-screen h2 {
    /* text-align: left; */
}

#definition-title-input,
#relationship-title-input {
    height: 45px;
    padding-top: 10px !important;
    margin-bottom: 10px;
}

#definition-body-container,
#relationship-body-container {
/*     position: relative;
    height: 160px; */
    margin-bottom: 2%;
}

#definition-body-input {
    padding-top: 15px !important;
    min-height: 320px;
    padding-right: 60px;
}

#relationship-body-input {
    padding-top: 15px !important;
    min-height: 120px;
    padding-right: 60px;
}

#definition-screen button.close,
#relationship-screen button.close {
    border: none;
}

.photo-wrapper,
#definition-btn-container,
#definition-media-container,
#vetting-media-container {
    /* margin-top: 5px; */
    /* float: left; */
    /* margin-right: 25px; */
    display: inline-block;
}
#definition-photo-file {
    width: 100%;
    max-width: 200px;
}

#definition-screen .media-container,
#vetting-screen .media-container {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;          /* REDO ME - this is ugly, look at img-responsive class */
    /* margin: 5px 2.5px 0px 2.5px; */
    margin-right: 25px;
    margin-bottom: 25px;
}
#definition-screen .media,
#vetting-screen .media {
    width: 120px;
    height: 120px;          /* REDO ME - this is ugly, look at img-responsive class */
}
#definition-screen .remove-btn,
#vetting-screen .remove-btn {
    position: absolute;
    top: 2%;
    right: 5%;
    color: red;
    z-index: 999;
}

#definition-btn-container,
#relationship-btn-container {
/*     position: relative;
    margin-top: 20px;
    width: 70%; */
}

#definition-btn-container .fa-spinner,
#vetting-btn-container .fa-spinner {
    font-size: 6em;
    position: absolute;
    z-index: 999;
    top: -3%;
    color: #006699;
    background: #fff;
}

/* TODO: THIS NEEDS A LOT OF WORK ACROSS VARIOUS DEVICES */
#definition-photo-modal .photo-content,
#vetting-photo-modal .photo-content {
    max-width: 100%;
}
#definition-photo-modal .download-photo-btn,
#vetting-photo-modal .download-photo-btn {
    background: white;
    border-radius: 4px;
}

/** relationship screen only **/
#relationship-container {
    text-align: center;
    padding: 100px 0;
}
#relationship-screen h1 {
    display: inline-block;
    background-color: #F4F4F4;
    padding: 5px 40px;
}
#relationship-link-container {
    display: inline-block;
    margin: 0 20px;
    line-height: 2.5em;
    vertical-align: text-bottom;
}

/** vetting screen only **/
.radio {
    margin-left: 25px;
}
.radio + .radio {
    margin-bottom: 25px;
}
#vetting-addon-container {
    margin-bottom: 20px;
}
#vetting-btn-container {
    display: inline-block;
}


/********** GLOBAL **********/

body, html {
    /*height: calc(100% - 50px);*/
    height: 100%;
    /*background-color: #3092ae;*/
}

a,
a:hover,
button,
button:hover,
.btn,
.btn:hover,
i,
i:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
    /*background-color: #BDBDC1;*/
    opacity: 0.7;
}

.uneditable {
/*    pointer-events: none;
    cursor: default;*/
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: #DBDBDB;
    opacity: 0.7;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/*so the scroll bar appears at all times*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/********** MODALS **********/
/*for vertical centering; had to add .table & .table-cell divs to html*/
.table {
    display: table;
    height: 100%;
    margin-bottom: 0;
    background-color: #2c3e50;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    border-radius: 10px;
    padding: 5px 20px;
    border:  none;
}
.modal-header {
    border-bottom: 2px solid #ededed;
}


/********** NAVBAR **********/

.navbar {
    min-height: 60px;
    background: linear-gradient(to bottom, #1a7194 0%,#176686 100%) !important;
    background-image: none;
    border: none;
    padding-top: 5px;
    z-index: 9999; /* so that it displays above login modal */
}

.navbar-brand {
    text-indent: -9999px;
    width: 200px;
    background-image: url(../img/logowallcology.png);
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav>.active>a {
    background-image: -webkit-linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.username-display a {
    max-height: 35px;
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* This hides any element with class alert directly after an input field with a pattern (regex) */
input[pattern] + .alert {
    display: none;
}

/* If pattern (regex) is violated alert is shown */
input[pattern]:invalid + .alert {
    display: inline-block;
}

/* If pattern (regex) is violated submit button is hidden */
input[pattern]:invalid ~ button {
    display: none;
}

input:disabled {
    display: none;
}

/* DOES THIS DO ANYTHING??? */
/* #login-button:disabled {
    display: none;
} */

.login-button {
    margin: 1%;
    min-width: 7.3em;
    border: 1px solid #ededed;
}
.login-button:hover {
    border: 1px solid #ededed;
}

.input-alert {
    margin-top: 2%;
}


/********** MEDIA QUERIES **********/

/* Extra small devices (phones, less than 768px) */
@media all and (max-width: 767px) {

/*     .side-nav .btn-circular {
        margin-left: 15px !important;
    } */
}

/*Small devices PORTRAIT (tablets, more than 768px tall)*/
@media all and (min-height: 768px) and (orientation: portrait) {

/*     .username-display a {
        max-width: 300px;
        text-overflow: ellipsis;
    }

    .side-nav .btn-circular {
        margin-left: -25px;
    }

    h2.box1 {
        width: 495px;
        margin-left: -10px;
    }
    h2.box3 {
        width: 515px;
        margin-left: -20px;
    }

    .definition,
    .relationship {
        padding: 5% 7% 0 1%;
        height: 87%;
    }
    .definition-title,
    .relationship-title {
        height: 18%;
    } */
    /* TODO: this is guesswork, check me on the ipad */
/*     .definition-body,
    .relationship-body {
        height: 57%;
    }
    .definition-url,
    .relationship-url {
        height: 57%;
    } */
    /* TODO check me in ipad */
/*     .fa-file-image-o,
    .fa-file-video-o {
        font-size: 5em;
        margin-left: 14px;
    }
    .fa-circle {
        bottom: 1.5%;
    }
    .self-photo-query {
        margin-left: 8%;
    } */
}

/* Medium Devices (DESKTOPS, 992px and up) */
@media all and (min-width : 992px) {
    .fa-star {
        left: -12%;
    }
}


/* Large devices (LARGE DESKTOPS, 1200px and up) */
@media all and (min-width: 1200px) {
/*     .side-nav {
        padding: 0 200px 0 0;
    } */

    .inner-wrapper {
        max-width: 1350px;
        /* text-align: center; */
        /* margin-left: calc((100% - 1350px)/2); */
    }

    .definition-container {
        /* padding-bottom: 25%; */ /* = width for a 1:1 aspect ratio */
    }
/*     .fa-file-image-o,
    .fa-file-video-o {
        font-size: 9em;
        margin-left: 21%;
    }
    .definition h3, .relationship h3 {
        font-size: 20px;
    } */

    #home-screen h3+img+h3 {
        vertical-align: baseline;
    }
    .lesson-title {
        font-size: 1.2em;
        /* min-width: 25%; */
    }
    .fa-star {
        left: -13%;
    }
    #relationship-container {
        min-height: 150px;
    }
}





















/* Blue and green version - Renato */

.active>a {
    background-image: none !important;
    background-color: transparent !important;
    height: 34px;
    top: 7px;
    padding-top: 7px !important;
    margin: 1px 7px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: #a7e0f7  !important;
}
.top-navigation>.active>a {
    background-image: none !important;
    background-color: #0a475f  !important;
    height: 34px;
    border-radius: 30px;
    top: 7px;
    padding-top: 7px !important;
    margin: 1px 7px !important;
}
.top-navigation>.active>a:hover {
    background-color: #07384c !important;
}
/* .inner-wrapper {
    margin-top: 15px !important;
    width: 100%;
    padding: 0 40px;
} */

/* .col-xs-offset-2 {
    margin-left: 0;
} */
/* .col-xs-9 {
    width: 100%;
} */


.nav-forward-btn {
    float: right;
    margin-right: 6%;
    margin-top: 10%;
}

.top-nav-btn>a{
    color: #fff !important;
}
.container {
    width: auto;
    padding-left: 35px;
}
